# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb://localhost:27017/?readPreference=primary&appname=MongoDB%20Compass&directConnection=true&ssl=false

# JWT secret key
JWT_SECRET=yoursecret

# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30

# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30

# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10

# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10


#Sendgrid config for the email service
SENDGRID_API_KEY=yourKey
EMAIL_FROM=example@mail.com

#Google auth credentials
CLIENT_ID=YourProjectIDFromGoogle
CLIENT_SECRET=yourSecret